.container
  %ul
    - @profile.errors.full_messages.each do |message|
      / @article.errors.full_messagesにすべてのエラーメッセージが配列で入っている
      %li= message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    -# form作成の基本形
    %div
      = f.label :avatar, 'アバター'
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, 'ハンドルネーム'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, '自己紹介'
    %div
      = f.text_area :introduction
    %div
      = f.label :gender, '性別'
    %div
      -# [['男性', 'male'],['女性', 'female']]とかくと男性、女性のセレクタができ、valueにmale、femaleが入る
      -# mapを使って配列を作りなおすProfile.genders.map{|k, v| [I18n.t("enum.genders.#{k}"), k]}
      = f.select :gender, Profile.genders.map{|k, v| [I18n.t("enum.genders.#{k}"), k]}, {}, {class: 'text'}
      -# = f.select :gender, Profile.genders.keys, {}, {class: 'text'}
      -# profile.rbで定義しているハッシュからkeyの配列をとってくる
      -# selectにclass（第4引数という決まり）を付けるときは1つ空を渡さないといけない
    %div
      = f.label :birthday, '生年月日'
    %div
      = f.date_field :birthday, class: 'text'
    %div
      = f.label :subscribed, '通知を受け取る'
      = f.check_box :subscribed

    = f.submit '保存', class: 'btn-primary'