= link_to article_path(article) do
  / id: article.id は articleに省略可
  .card
    .card_image
      = image_tag 'eyecatch1.png'
    .card_content
      .card_title
        = article.title
      / /.card_title
      .card_heart
        = image_tag 'heart.svg'
        %span 23
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          - if article.user.present?
            -# articleでuser情報があるとき
            %p= article.user.display_name
          %p= article.display_created_at
          / I18nは国際化用のクラス
