<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <!--@article.errors.full_messagesにすべてのエラーメッセージが配列で入っている-->
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @article, url: article_path(@article), method: 'put', local: true) do |f| %>
    <!--formで @articleで指定されたidを持つarticle_pathにputリクエストを送る-->
    <div>
      <%= f.label :title, 'タイトル' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div>
      <%= f.label :content, '内容' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <%= f.submit '保存', class: 'btn-primary'%>
  <% end %>
</div><!-- /.container -->