.article
  %h1.article_title= @article.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      -# - if @article.user.present?
        -# @articleでuser情報があるとき=>完全に存在するように設定しなおしたので不要
      -# %p= @article.user.display_name=>自作のarthor_nameに変更
      %p= @article.author_name
      %p= @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      -# ログインしている、かつ、自作のhas_written(user.rb)を使って記事を書いてるかチェック
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_article_path(@article)
            = link_to '削除する', article_path(@article), data: {method: 'delete', confirm: '本当に削除してもよろしいですか?'}
            / link_to は基本的にgetリクエスト data: {method: 'delete'}によってdeleteリクエストを送る
  .article_content
    = @article.content
  .article_heart
    = image_tag 'heart.svg'
