.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
      -# ↓をuser.rbでメソッドを定義しているので↑だけでいける
      -# - if user.profile&.avatar&.attached?
      -#   -# &.attached?で画像がアップロードされているか調べる
      -#   = image_tag user.profile.avatar
      -# - else
      -#   = image_tag 'default-avatar.png'
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{user.display_name}(#{user.age || '?歳'} :#{I18n.t("enum.genders.#{user.gender || 'unknown'}")})
          -# I18n.t("enum.genders.female") 多言語化localesの中のenumのgendersで定義した言葉で置き換える
        .profilePage_user_actionButton
          - if user == current_user
            = link_to 'Edit', edit_profile_path
          - else
            = link_to 'Follow', '#'
      .profilePage_user_introduction
        = user.profile&.introduction
  
  - user.articles.each do |article|
    = render 'commons/article', article: article
    -# views/commonsフォルダ内の_article.html.hamlを使う 引数articleには|article|を入れる