<!DOCTYPE html>
<html>
  <head>
    <title>MatsuWebBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- スマホ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header_logos">
      <% if !current_page?(root_path) %>
        <!-- current_page（今いるページ）がrootじゃなかったら -->
        <%= link_to :back do %>
          <%= image_tag 'back.svg', class: 'header_back' %>
        <% end %>
      <% end %>
        <p class="header_pageTitle">BlogApp</p><!-- /.header_pageTitle -->
      </div><!-- /.header_logos -->
      <div class="dropdown">
        <%= image_tag 'default-avatar.png', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <a href="#">ログアウト</a>
        </div><!-- /.dropdown-content -->
      </div><!-- /.dropdown -->
    </header><!-- /.header -->
    <% if flash.present? %>
      <!-- flashがnilでないとき -->
      <div class="flash">
        <% flash.each do |key, value| %>
          <!-- flashはハッシュ形式 -->
          <div class="<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
